<?xml version="1.0"?>

<model>
  <name>Basic Mobile Bot</name>
  <version>1.0</version>
  <sdf version="1.5">bearcar.sdf</sdf>

  <author>
    <name>App-RAS-Group1</name>
    <email>bearcar@example.com</email>
  </author>

  <description>
    Description of approximate Bearcar
  </description>
</model>